<div class="">
    <div class="top-bar box-shadow" style="background: transparent;padding: 0;padding-bottom: 10px;position: relative;">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title">Customer Name</h3>
            </div>
            <div class="mr-auto">
                <h3 class="m-subheader__title"></h3>
            </div>
            <div class="form-header-btn">

                <button type="button" mat-raised-button class="noshadow top-btn-font white-btn" color="primary" (click)="goBack()">
                    <mat-icon>arrow_back</mat-icon> Back
                </button>
            </div>
        </div>
    </div>
    <div>

        <div class="row">
            
            <div class="col-8">
                <div class="fullfillment-order-info">
                    <div class="customer-order-header">
                        <h5>Customer Name</h5>
                        <p>KOLKATA, WB, India</p>
                        <p>Customer for about 2 months</p>
                        <mat-form-field style="width: 100%;margin-top: 10px;" appearance="outline">
                            <mat-label>Add a note</mat-label>
                            <textarea matInput></textarea>
                          </mat-form-field>
                    </div>
                    <div class="customer-all-orders">
                        <div class="row">
                            <div class="col-4">
                                <a href="javascript:void(0);">Last Order</a>
                                <h5>2 months ago</h5>
                                <p>From Online Store</p>
                            </div>
                            <div class="col-4">
                                <p>Total spent to date</p>
                                <h5>₹118.00</h5>
                                <p>1 order</p>
                            </div>
                            <div class="col-4">
                                <p>Average order value</p>
                                <h5>₹118.00</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fullfillment-order-info">
                    <div class="seller-panel-header">
                        <h4>Order Placed</h4>
                    </div>
                    <div class="order-date-amt">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a href="javascript:void(0);">Order #1002</a>
                        <span class="order-dt">1 Oct 2020 at 01:48 pm</span>
                        </div>
                        <p>₹118.00 from Online Store</p>
                        <label>
                            <span class="grey-dot"></span>
                            <span>Fulfilled</span>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="product-fullfillment-table" style="">
                                <table class="">
                                    <tbody>
                                        <tr>
                                            <td style="width: 10%;text-align: left;">
                                                <img  src="https://cdn.shopify.com/s/files/1/0498/3626/1544/products/product_2_3d36d54b-0622-4ee2-b183-602429212cd1_160x160.png?v=1601378642" />
                                            </td>
                                            <td style="width: 90%;">
                                                <h4>Bacon shank spare</h4>
                                                <p>Lorem ispum dummy text</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 10%;text-align: left;">
                                                <img  src="https://cdn.shopify.com/s/files/1/0498/3626/1544/products/product_2_3d36d54b-0622-4ee2-b183-602429212cd1_160x160.png?v=1601378642" />
                                            </td>
                                            <td style="width: 90%;">
                                                <h4>Bacon shank spare</h4>
                                                <p>Lorem ispum dummy text</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 10%;text-align: left;">
                                                <img  src="https://cdn.shopify.com/s/files/1/0498/3626/1544/products/product_2_3d36d54b-0622-4ee2-b183-602429212cd1_160x160.png?v=1601378642" />
                                            </td>
                                            <td style="width: 90%;">
                                                <h4>Bacon shank spare</h4>
                                                <p>Lorem ispum dummy text</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="fullfillment-user-info">
                    <h4>Customer Details</h4>
                    <div class="fullfillment-user-box">
                        <div class="fullfillment-user-info-img">
                            <img src="https://cdn.shopify.com/shopifycloud/shopify/assets/admin/customers/polaris/avatar-1-b76694110b51e84b3b1f58a87c230122828e20a2d916fffeb403496db8e3f04f.png">
                        </div>
                        <div class="fullfillment-user-info-text">
                            <p class="block">Customer Name</p>
                            <p>HORIZON-1,401,UNIWORLD CITY, NEW TOWN, 700156 KOLKATA West Bengal, India</p>
                            <!-- <p><span>Landmark:</span> {{item.customer_info['address2']}}</p>
                                <p><span>Area:</span> {{item.customer_info['city']}}</p> -->
                            <p>90070 59051
                                <span class="callto">
                                    <mat-icon>call</mat-icon>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>