/* .mat-form-field-invalid {
  color: #f2f3f8;
  opacity: 0.5;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: none;
  opacity: 0;
} */

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: #f2f3f8;
}
