<div class="login">
  <div class="d-flex align-items-center justify-content-center" style="height: 80%;">
    <div class="login-cont">
      <!-- <div class="login-logo">
        <img src="../../assets/img/logo-login.svg" />
      </div> -->
      <h5 class="login_text">Reset Password</h5>
      <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" autocomplete="off">
        <div class="hoz-form login-form">
          <mat-form-field appearance="outline">
            <mat-label>Old Password</mat-label>
            <mat-icon matPrefix></mat-icon>
            <input #_oldPass (paste)="onPaste($event)" matInput [type]="oldPassHide ? 'password' : 'text' "
              formControlName="existing_password" />

            <button matSuffix type="button" mat-icon-button color="primary" (click)="oldPassHide =!oldPassHide">
              <mat-icon>{{oldPassHide ? 'visibility_off':'visibility'}}</mat-icon>
            </button>
            <!-- <button matSuffix type="button" mat-icon-button color="primary"
                  (mousedown)="_oldPass.type='text';_matIcon.innerText='visibility_off'"
                  (mouseup)="_oldPass.type='password';_matIcon.innerText='visibility'"
                  (mouseout)="_oldPass.type='password';_matIcon.innerText='visibility'"
            >
              <mat-icon #_matIcon>visibility</mat-icon>
            </button> -->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <mat-icon matPrefix></mat-icon>
            <input matInput [type]="newPassHide ? 'password' : 'text' " formControlName="new_password"
              (focusout)="checkExisting($event)" />
            <button matSuffix type="button" mat-icon-button color="primary" (click)="newPassHide =!newPassHide">
              <mat-icon>{{newPassHide ? 'visibility_off':'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-hint align="start" class="error"
            *ngIf="resetForm.get('existing_password').value && resetForm.get('new_password').value && resetForm.get('new_password').hasError('notUnique')">
            New Password must be differ from old password</mat-hint>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <mat-icon matPrefix></mat-icon>
            <input matInput [type]="confirmPassHide ? 'password' : 'text' " formControlName="confirm_password" />
            <button matSuffix type="button" mat-icon-button color="primary" (click)="confirmPassHide =!confirmPassHide">
              <mat-icon>{{confirmPassHide ? 'visibility_off':'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <ng-container *ngIf="!resetForm.valid">
            <mat-hint align="start" class="error" *ngIf="resetForm.get('confirm_password').hasError('mustMatch')">
              Password Must match</mat-hint>
          </ng-container>
        </div>
        <div class="text-center">
          <button [disabled]="!resetForm.valid" mat-raised-button type="submit" color="primary"
            class="login-button noshadow">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>