<div class="order-filter-container" hasBackdrop="true">
    <div class="ndh-order-panel">
        <div class="d-flex align-items-center justify-content-between mt-2">
            <h3 class="ndh-order-h3">Store Coupons</h3>
            <button mat-mini-fab color="primary" class="show-mobile mr-2" (click)="orderFilter.toggle()"
                aria-label="Example icon button with a filter list icon">
                <mat-icon>filter_list</mat-icon>
            </button>

            <div class="form-header-btn">
                <button type="button" mat-raised-button class="noshadow top-btn-font white-btn" color="primary" [routerLink]="['/coupon/master-coupon']">
                    <mat-icon>arrow_back</mat-icon> Back
                </button>
            </div>
        </div>
        <div class="ndh-order-body">
            <div class="ndh-order-filter">
                <div class="row">
                    <div style="margin-right: 5%; padding: 0px; margin-left: 1%;" class="col-sm-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Coupon</mat-label>
                            <mat-select (selectionChange)="couponChange()" [(ngModel)]="coupon_id">
                                <mat-option [value]="">--Select Coupon--</mat-option>
                                <mat-option *ngFor="let coupon of allMasterCoupons" [value]="coupon.id">{{coupon.code}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-8">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Store</mat-label>
                            <mat-select (selectionChange)="storeChange()" [(ngModel)]="store_id" multiple> 
                                <div 
                                    class="custom-panel" 
                                    style="position: relative;overflow-x: hidden;max-height: 250px;"

                                    infiniteScroll
                                    [infiniteScrollDistance]="2"
                                    [infiniteScrollThrottle]="50"
                                    (scrolled)="onScrollDown()"
                                    [scrollWindow]="false"
                                >
                                    <mat-option>
                                        <ngx-mat-select-search [placeholderLabel]="'Find Store ..'" (keyup)="findStore($event.target.value)">                                            
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <!-- <mat-option [value]="">--Select Store--</mat-option> -->
                                    <mat-option *ngFor="let store of allStore"
                                        [value]="store._source.store_id">{{store._source.store_name}}
                                    </mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="form-header-btn" style="float: right; padding-right: 10px;">
                <button type="button" mat-raised-button
                    class="top-btn-font drop mr-2" color="primary" (click)="assignStore()">
                    <mat-icon>add</mat-icon> Add More
                </button>
            </div>
            <div class="ndh-order-table">
                <table mat-table [dataSource]="rowData" style="border: 0px solid rgba(0, 0, 0, 0.12);">
                    <ng-container matColumnDef="store">
                        <th mat-header-cell *matHeaderCellDef> Store </th>
                        <td mat-cell *matCellDef="let element"> {{element.store.store_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="coupon">
                        <th mat-header-cell *matHeaderCellDef> Coupon </th>
                        <td mat-cell *matCellDef="let element"> {{element.coupon.code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="start_date">
                        <th mat-header-cell *matHeaderCellDef> Start Date </th>
                        <td mat-cell *matCellDef="let element"> {{getOnlyDate(element.start_date) | date : 'dd-MM-yyyy'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="end_date">
                        <th mat-header-cell *matHeaderCellDef> End Date </th>
                        <td mat-cell *matCellDef="let element"> {{getOnlyDate(element.end_date) | date : 'dd-MM-yyyy'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="max_order_count">
                        <th mat-header-cell *matHeaderCellDef> Max Order Count </th>
                        <td mat-cell *matCellDef="let element"> {{element.max_order_count}} </td>
                    </ng-container>


                    <ng-container matColumnDef="expired">
                        <th mat-header-cell *matHeaderCellDef> Expired </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.expired == 0" style="color: #46b920;">No</span>
                            <span *ngIf="element.expired == 1" style="color: red;">Yes</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="allow_store_update">
                        <th mat-header-cell *matHeaderCellDef> Allow Store Update </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.allow_store_update == false">No</span>
                            <span *ngIf="element.allow_store_update == true">Yes</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="is_active">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.is_active == 1">Active</span>
                            <span *ngIf="element.is_active == 0">Inactive</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element">
                            <div (click)="editCoupon(element.id)" style="padding: 5px 25px;display: inline-block;line-height: 22px;background: #f2f2f2f2;color: #46b920;border-radius: 3px;margin-right: 10px;">Edit</div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator style-paginator [length]="totalRecords" pageSize="{{perPage}}"
                    [pageSizeOptions]="[5, 10, 20, 50, 100]" (page)="onPaginateChange($event)" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>    
</div>
<div *ngIf="store_coupan_length === 0" class="notification">
    <button mat-raised-button color="accent">*This coupon is not associated with any stores currently. To assign the coupon with store click on <b>Add More</b> button and assign stores.</button>
</div>
