<div class="row">
    <div class="col-sm-10" style="margin: 0px auto;">
        <div class="store-coupon-select">
            <div class="top-bar box-shadow">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title">New Coupon</h3>
                    </div>
                    <div class="mr-auto">
                        <h3 class="m-subheader__title"></h3>
                    </div>
                    <div class="form-header-btn">
                        <button type="button" mat-raised-button class="noshadow top-btn-font white-btn" color="primary"
                            (click)="gobackCoupon()">
                            <mat-icon>arrow_back</mat-icon> Back
                        </button>
                        <button type="button" mat-raised-button class="noshadow top-btn-font" color="primary"
                            (keydown.enter)="$event.preventDefault()" (click)="onFormSubmit($event)">
                            <mat-icon>save</mat-icon> Save
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-shadow bg-white padding-10">
                <form [formGroup]="couponForm" autocomplete="off" novalidate>
                    <div class="row coupon-bottom-border">
                        <div class="col-sm-6 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Discount Coupon Code</mat-label>
                                <input matInput formControlName="code" maxlength="10">
                            </mat-form-field>
                            <div *ngIf="!couponForm.get('code').valid && couponForm.get('code').touched"
                                class="has-danger form-control-feedback">
                                <span class="text-danger" *ngIf="couponForm.get('code').errors.maxlength">Max Length
                                    10</span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Coupon Category</mat-label>
                                <mat-select formControlName="coupon_category"
                                    (selectionChange)="coupon_category_change()">
                                    <mat-option value="SPECIAL_PROMO">SPECIAL PROMO</mat-option>
                                    <mat-option value="SELLER_PROMO">SELLER PROMO</mat-option>
                                    <mat-option value="PLATFORM_OFFER">PLATFORM OFFER</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row coupon-bottom-border">
                        <div class="col-sm-12 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea matInput tabindex="4" rows="5" placeholder="Description"
                                    formControlName="description" maxlength="65535"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row coupon-bottom-border">
                        <div class="field_title">Duration</div>
                        <div class="col-sm-6 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="start_date" formControlName="start_date"
                                    [readonly]="true" (dateChange)="addEvent('change', $event)" (click)="start_date.open()">
                                <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                                <mat-datepicker #start_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="end_date" (click)="end_date.open()" formControlName="end_date" [min]="minDate"
                                    [readonly]="true" (dateChange)="endDateEvent('change', $event)">
                                <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
                                <mat-datepicker #end_date></mat-datepicker>
                            </mat-form-field>
                            <span class="never_expired_text" *ngIf="neverExpired">Never Expired</span>
                        </div>
                    </div>
                    <div class="row coupon-bottom-border">
                        <div class="field_title">Properties</div>
                        <div class="col-sm-3 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Coupon Type</mat-label>
                                <mat-select formControlName="coupon_type" [disabled]="isCouponType">
                                    <mat-option value="INSTANT_DISCOUNT">INSTANT_DISCOUNT</mat-option>
                                    <mat-option value="CASHBACK">CASHBACK OFFER</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Applicable For Devices</mat-label>
                                <mat-select multiple formControlName="platforms">
                                    <mat-option value="web">Web</mat-option>
                                    <mat-option value="android">Android</mat-option>
                                    <mat-option value="ios">iOS</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Hide From Seller</mat-label>
                                <mat-select formControlName="list_visible" [disabled]="isHideFromDisabled">
                                    <mat-option value="Yes">Yes</mat-option>
                                    <mat-option value="No">No</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2 mb-3" style="padding-top: 10px;">
                            <mat-slide-toggle color="primary" formControlName="coupon_effect_seller_nsp"
                                [disabled]="isBearBySeller">Bear By Seller
                            </mat-slide-toggle>
                        </div>

                        <div class="col-sm-2 mb-3" style="padding-top: 10px;">
                            <mat-slide-toggle color="primary" formControlName="cod_available" >Allow COD
                            </mat-slide-toggle>
                        </div>

                        <div class="col-sm-2 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Status</mat-label>
                                <mat-select formControlName="active">
                                    <mat-option value="true">Active</mat-option>
                                    <mat-option value="false">Inactive</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row coupon-bottom-border"
                        *ngIf="couponForm.get('coupon_category').value=='SPECIAL_PROMO'">
                        <div class="field_title">Special Promotion</div>

                        <div class="col-sm-6 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Select Business Sectors</mat-label>
                                <mat-select formControlName="business_sector"
                                    (selectionChange)="businessSectorChanged()">
                                    <mat-option value="*">All Sector</mat-option>
                                    <mat-option value="Food">Food</mat-option>
                                    <mat-option value="Mart">Mart</mat-option>
                                    <mat-option value="Shopping">Shopping</mat-option>
                                    <mat-option value="Medicine">Medicine</mat-option>
                                    <mat-option value="Wine">Wine</mat-option>
                                    <mat-option value="Service">Service</mat-option>
                                    <mat-option value="Banking">Banking</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Select Business Category</mat-label>
                                <mat-select formControlName="business_catagories">
                                    <mat-option value="*">All Category</mat-option>
                                    <mat-option value="{{item.businessCategoryName}}" *ngFor="let item of businessCategoryFilter">
                                        {{item.businessCategoryName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Select Store Subscription Levels</mat-label>
                                <mat-select formControlName="store_subscription">
                                    <mat-option value="*">All Levels</mat-option>
                                    <mat-option value="BASIC">Basic</mat-option>
                                    <mat-option value="SILVER">Silver</mat-option>
                                    <mat-option value="GOLD">Gold</mat-option>
                                    <mat-option value="PLATINUM">Platinum</mat-option>
                                    <mat-option value="DIAMOND">Diamond</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Store Visibility</mat-label>
                                <mat-select formControlName="store_visibility">
                                    <mat-option value="*">All</mat-option>
                                    <mat-option value="PRIVATE">PRIVATE</mat-option>
                                    <mat-option value="PUBLIC">PUBLIC</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div>Select Payment Method</div>
                            <div class="row">
                                <div class="col-6">
                                    <a href="https://ndh.imgix.net/ndh-admin/payment_option/98497646709822.xlsx"><button
                                            class="btn-block h-btn" mat-stroked-button color="primary" type="button">
                                            Download File
                                        </button></a>
                                </div>
                                <div class="col-6" style="padding-top: 7px;">
                                    <input type="file" value="Upload Excel/CSV file" (change)="onFileChange($event)"
                                        accept=".xlsx, .xls, .csv" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row coupon-bottom-border">
                        <div class="field_title">Applies to
                            <!-- <a href="javascript:void(0)">(Advance Edit)</a> -->
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="row">
                                <div style="width: 100%;padding: 10px 15px;">Orders</div>
                                <mat-radio-group aria-label="Select an option" formControlName="ordersType">
                                    <div class="col-12">
                                        <mat-radio-button value="ALL"></mat-radio-button> All Orders of any value
                                    </div>
                                    <div class="col-12">
                                        <mat-radio-button value="SUBTOTAL"></mat-radio-button> Subtotal above
                                        ₹ <input type="text" formControlName="cart_attributes_value" (keyup)="onlyExeptNumber('cart_attributes_value')" (paste)="onlyExeptNumber('cart_attributes_value')" (blur)="onlyExeptNumber('cart_attributes_value')">
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="row">
                                <div style="width: 100%;padding: 10px 15px;">Number of uses</div>
                                <mat-radio-group aria-label="Select an option" formControlName="number_of_uses">
                                    <div class="col-12">
                                        <mat-radio-button value="one"></mat-radio-button> One Per Customer
                                    </div>
                                    <div class="col-12">
                                        <mat-radio-button value="max_upto"></mat-radio-button> Maximum Upto
                                        <input type="number" min="2" step="1"  formControlName="restriction_per_user"
                                            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                        
                                        <ng-container
                                            *ngIf="!couponForm.get('restriction_per_user').valid && couponForm.get('restriction_per_user').touched">
                                            <mat-hint align="start" class="error"
                                                *ngIf="couponForm.get('restriction_per_user').hasError('min')">
                                                Maximum Upto value should be minimum 2</mat-hint>
                                        </ng-container>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                    <div class="row coupon-bottom-border">
                        <div class="field_title">Actions
                            <!-- <a href="javascript:void(0)">(Advance Edit)</a> -->
                        </div>
                        <div class="col-sm-3 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Discount Type</mat-label>
                                <mat-select formControlName="discount_name">
                                    <mat-option value="DISCOUNT">DISCOUNT</mat-option>
                                    <!-- <mat-option value="FREE_SHIPPING">FREE SHIPPING</mat-option>
                                    <mat-option value="DISCOUNT_FREE_SHIPPING">DISCOUNT + FREE SHIPPING</mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-1 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="discount_type"
                                    (selectionChange)="coupon_discount_type($event)">
                                    <mat-option value="PERCENT_AMOUNT_DISCOUNT">%</mat-option>
                                    <mat-option value="FIXED_AMOUNT_DISCOUNT">₹</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-4 mb-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Discount Value</mat-label>
                                <input type="text" matInput formControlName="discount_amount"
                                    minValue="1" maxValue="99" maxlength="2" (keyup)="onlyExeptNumber('discount_amount')" (paste)="onlyExeptNumber('discount_amount')" (blur)="onlyExeptNumber('discount_amount')">
                            </mat-form-field>
                            <ng-container
                                *ngIf="!couponForm.get('discount_amount').valid && couponForm.get('discount_amount').touched">
                                <mat-hint align="start" class="error"
                                    *ngIf="couponForm.get('discount_amount').hasError('min') || couponForm.get('discount_amount').hasError('max')">
                                    Discount Value should be 1 to 99</mat-hint>
                            </ng-container>
                        </div>


                        <div class="col-sm-4 mb-3"
                            *ngIf="couponForm.get('discount_type').value=='PERCENT_AMOUNT_DISCOUNT'">
                            <mat-form-field appearance="outline">
                                <mat-label>Max Upper Cap</mat-label>
                                <input type="text" matInput formControlName="discount_max_upto" appTwoDigitDecimaNumber
                                    minValue="0" maxValue="10000000" maxlength="8">
                            </mat-form-field>
                            <ng-container
                                *ngIf="!couponForm.get('discount_max_upto').valid && couponForm.get('discount_max_upto').touched">
                                <mat-hint align="start" class="error"
                                    *ngIf="couponForm.get('discount_max_upto').hasError('min') || couponForm.get('discount_max_upto').hasError('max')">
                                    Max Upper Cap should be 0 to 10000000</mat-hint>
                            </ng-container>
                        </div>
                    </div>

                    <div class="row coupon-bottom-border">
                        <div class="col-sm-12 mb-3">
                            <p class="mb-1">Terms & Conditions</p>
                            <ckeditor formControlName="terms_and_conditions" [editor]="Editor" data=""></ckeditor>
                            <!-- <angular-editor formControlName="terms_and_conditions" [placeholder]="'Enter text here...'">
                            </angular-editor> -->
                        </div>
                    </div>

                    <div class="row coupon-bottom-border mt-3">
                        <div class="col-2">
                            <div class="upload-image-view">
                                <img [src]="coupon_asset_url" *ngIf="coupon_asset_url" height="200"><br />
                            </div>
                            <div class="btn-upload-image">
                                <input type='file' accept="image/jpeg, image/png" (change)="onSelectFile($event)"
                                    class="custom-input coupon_asset">
                            </div>
                            <p style="font-size: 11px; padding: 10px 0px;text-align: justify;">
                                This image will be displayed on the coupon code list as a coupon identifier image.
                            </p>
                        </div>

                        <div class="col-2" *ngIf="this.couponForm.value['coupon_type'] == 'CASHBACK'">
                            <div class="upload-image-view">
                                <img [src]="coupon_response_asset_url" *ngIf="coupon_response_asset_url"
                                    height="200"><br />
                            </div>
                            <div class="btn-upload-image">
                                <input type='file' accept="image/jpeg, image/png" (change)="onSelectFile1($event)"
                                    class="custom-input coupon_response">
                            </div>
                            <p style="font-size: 11px; padding: 10px 0px;text-align: justify;">
                                This image will be displayed along with terms and condition of the coupon, once user
                                click on the coupon to apply.
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>