<div class="top-bar box-shadow">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">Commission Exception</h3>
    </div>
    <div class="form-header-btn">
      <!-- <button
        routerLink="/category/exception/add-new-product-exception"
        mat-raised-button
        class="noshadow top-btn-font"
        color="primary"
      >
        <mat-icon>library_add</mat-icon> Add New Product Exception
      </button> -->
      <button
        routerLink="/category/exception/add-new-commission-exception"
        mat-raised-button
        class="noshadow top-btn-font"
        color="primary"
      >
        <mat-icon>add</mat-icon> Add New Exception
      </button>
    </div>
  </div>
</div>

<div class="bg-white grid-box-area" style="height: calc(100% - 100px)">
  <ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    (gridSizeChanged)="onGridSizeChanged($event)"
    (firstDataRendered)="onFirstDataRendered($event)"
    [pagination]="true"
    [paginationPageSize]="10"
    [enableFilter]="true"
    [floatingFilter]="true"
  >
  </ag-grid-angular>
</div>
