<div class="top-bar box-shadow">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">Blocked Customer</h3>
    </div>
    <div class="form-header-btn">
    </div>
  </div>
</div>


<div class="bg-white single-pagination" style="height: calc(100% - 40px)">
  <ag-grid-angular style="width:100%; height: 100%;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef" (firstDataRendered)="onFirstDataRendered($event)" (gridReady)="onGridReady($event)" [rowSelection]="rowSelection"
    [enableFilter]="true" [floatingFilter]="true" (gridSizeChanged)="onGridSizeChanged($event)">
  </ag-grid-angular>
  <ul style="display: none;">
    <li *ngFor="let item of blockedCustomerList | paginate: { id: 'dataPagination', itemsPerPage: 100, currentPage: pageNo, totalItems: totalRecords }">{{ item.id }}</li>
  </ul>
  <pagination-controls (pageChange)="getPageNoData($event)" id="dataPagination"></pagination-controls>
</div>

<!-- <div class="bg-white grid-box-area" style="height: calc(100vh - 80px)">
  <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"
    (firstDataRendered)="onFirstDataRendered($event)" [pagination]="true" [enableFilter]="true" [floatingFilter]="true" [paginationPageSize]="50"
    [animateRows]="true" (gridReady)="onGridReady($event)" (gridSizeChanged)="onGridSizeChanged($event)">
  </ag-grid-angular>
  <ul style="display: none;">
    <li *ngFor="let item of blockedCustomerList | paginate: { id: 'dataPagination', itemsPerPage: 100, currentPage: pageNo, totalItems: totalRecords }">{{ item.id }}</li>
  </ul>
  <pagination-controls (pageChange)="getPageNoData($event)" id="dataPagination"></pagination-controls>
</div> -->