<div class="top-bar box-shadow">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">Site Layout</h3>
    </div>
    <div class="form-header-btn">
      <mat-form-field appearance="outline">
        <mat-label>Select Template</mat-label>
        <mat-select>
          <mat-option value="option1">Template 1</mat-option>
          <mat-option value="option2">Template 2</mat-option>
          <mat-option value="option3">Add New</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="box-shadow bg-white padding-10">
    <div class="content-head">
      <div class="content-head-caption">
        <h3>Add Banner</h3>
      </div>
      <div class="content-head-action">
        <button mat-flat-button color="primary">Refresh Etag</button>
      </div>
    </div>
    <div class="form-content-body mt-3">
      <div class="add-banner">
        <button
          mat-icon-button
          color="primary"
          matTooltip="Add Row"
          matTooltipPosition="above"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="add-banner">
        <ul>
          <li>
            <div class="info-delete">
              <button
                mat-icon-button
                color="primary"
                matTooltip="Info"
                matTooltipPosition="above"
              >
                <mat-icon>info</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                matTooltip="Delete"
                matTooltipPosition="above"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
            <img
              src="http://ndh.imgix.net/banners-3.0/01-Full_Screen_Platinum_Slider/01.webp"
              alt=""
            />
          </li>
          <li>
            <img
              src="http://ndh.imgix.net/banners-3.0/01-Full_Screen_Platinum_Slider/02.webp"
              alt=""
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-8">
        
      </div>
    </div>
  </div>
</div>
