<!-- <div class="manage-store-profile">
    <div class="store-profile-area">
        <img src="../../../../../assets/img/user.jpg">
        <h4>Store Owner</h4>
        <p>Godrej Waterside, 6th Floor, Tower 1, Sector V, Bidhannagar, Kolkata, West Bengal 700091</p>
    </div>
    <div class="manage-store-area">
        <div class="tab-area">
            <app-show-store-details-tab></app-show-store-details-tab>
        </div>         -->
<div class="tab-area-content">
    <h1>Users</h1>
</div>
<!-- </div>
</div> -->