<div class="form-content-body" *ngFor="let productImgDetails of productImagesArr;let productImgIndex=index">
  <div class="hoz-form">
    <div class="variant-image-uploader">
      <div class="row align-items-center">
        <div class="col-3">
          <p class="variant-image-uploader-text">Variant Name: &nbsp;
            <b>{{productImgDetails['name']}}</b>
          </p>
        </div>
        <div class="col-9">
          <mat-form-field appearance="outline">
            <mat-label>Image URL</mat-label>
            <input matInput [formControl]="imgLink" placeholder="Enter Image URL">
            <button type="button" mat-button color="primary" matSuffix (click)="onLinkPaste(productImgIndex)">Fetch</button>
          </mat-form-field>
        </div>
      </div>
      <div class="overflow-x">
        <div cdkDropList cdkDropListOrientation="horizontal" class="image-uploader" (cdkDropListDropped)="imgPositionChange($event,productImgDetails)">
          <app-img-upload-aws
            #awsImgComponent
            [className]=" productImgDetails['imageUrls'].length>0?'img-input img-uploaded':'img-input'"
            [id]="'imgUploadDiv'"
            [awsFolderName]="'productImages'"
            (imgUploaded)="onProductImageUploaded($event,productImgDetails,productImgIndex)">
          </app-img-upload-aws>
          <div class="image-uploader-item" *ngFor="let url of productImgDetails['imageUrls'];let urlIndex=index" cdkDrag>
            <img [src]="getFormattedImage(url)" *ngIf="url" />
            <span *ngIf="!disableImageSection" (click)="removeUploadedImage(urlIndex,productImgIndex)" class="delete-image-uploader-item">
              <i class="fa fa-times"></i>
            </span>

          </div>
          <div class="add-more-image">
            <button type="button" mat-mini-fab color="primary" matTooltip="Add More Image" matTooltipPosition="above" (click)="imgAddIconClick(productImgIndex)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>