<div class="container-fluid">
    <div class="row">
    	<!-- <div class="col-sm-12 store-details-header">
    		<div class="row">
    			<div class="col-sm-6">
	    			<h1>Store Product</h1>
	    		</div>
	    		<div class="col-sm-4">
	    			<h1>Store Product</h1>
	    		</div>
	    		<div class="col-sm-2 text-right">
	    			<button mat-raised-button><mat-icon>keyboard_arrow_left</mat-icon> Back</button>
	    		</div>
    		</div>
    	</div> -->
        <div class="col-sm-6 col-md-6 col-lg-6">
            <app-show-store-product-details></app-show-store-product-details>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <app-show-store-profile-details></app-show-store-profile-details>
        </div>
    </div>
</div>