<div>
    <div class="top-bar box-shadow" style="position: relative;">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h3 class="m-subheader__title">Reset Password</h3>
        </div>
        <div class="form-header-btn">
          <button mat-dialog-close mat-raised-button class="noshadow ml-2 top-btn-font" color="primary">
            <mat-icon>close</mat-icon> Close
          </button>
        </div>
      </div>
    </div>
  
    <div class="box-shadow bg-white padding-10">
        <div class="hoz-form">
          <div class="row"> 
              
            <div class="col-md-12">
              <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput #password type="password">
              </mat-form-field>
            </div>

            <div class="col-md-12" style="text-align: right;">
              <button mat-raised-button class="noshadow top-btn-font" color="primary" (click)="SubmitPassword( password.value )" >
                  <mat-icon>save</mat-icon> Submit
                </button>
            </div>

          </div>
        </div>
    </div>  
</div>