mat-form-field {
    font-size: 11px;
}

mat-label{
    font-size: 12px;
}

input.mat-input-element {
    position: relative;
    top: -1px;
}

.add-category-input {
    width: 112%;
    height: 190px;
    padding-left: 15px;
    margin-top: 6px;
    padding-right: 15px;
}

.edit-category-input {
    /* width: 105%; */
    height: 235px;
    padding-left: 15px;
    padding-right: 15px;
}

.heights-1{
    height: 500px;
    overflow: auto;
}

.heights-2{
    height: 180px;
}